* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol,ul {
    list-style: none;
}
.List {
     display:flex;
     margin:60px auto;
     max-width:1200px;
     justify-content:space-between;
     align-items:center;
     flex-wrap:wrap;
}
.container{
  text-align: center;
}
.container img {
  display: block;
  margin-left: 540px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.button {
  padding: 12px 18px;
  border-radius: 25px;
  margin-right: 22px;
  color: #fff;
  background: rgb(254, 72, 72);
  border: 1px solid rgb(254, 72, 72);
  font-size: 18px;
  width: 10%;
}
.button:hover{
  background:rgb(108, 27, 27);
}
